<?php

return [
    'schema_version' => 1, // Config-schema version, only change this when requested

    // HubKit supports GitHub Enterprise, and therefor you can add multiple
    // hub configurations by there hostname. The default one is `github.com`.
    //
    // Before you can authenticate, get a new token at: https://github.com/settings/tokens/new
    //
    // Use a unique and distinct name like: `hubkit on computer-1 at 2016-11-01 14:54 CET`
    // with scopes: "repo, user:email, read:gpg_key"
    'github' => [
        'github.com' => [ // hostname of the hub
            'username' => '', // fill-in your github username
            'api_token' => '', // fill-in the new GitHub authentication token (NOT YOUR PASSWORD!)
        ],
//        'hub.mycorp.com' => [ // hostname of your GitHub Enterprise installation
//            'username' => '', // fill-in your github username
//            'api_token' => '', // fill-in the new GitHub authentication token (NOT YOUR PASSWORD!)
//            'api_url' => 'https://api.hub.mycorp.com/' // schema + hostname to API endpoint (excluding API version)
//        ],
    ],

    // Configuration for repository splitting.
    // Structure is expected to be: [hostname][organization/source-repository]
    // With 'split' being a list of paths (relative to repository root, and no patterns)
    //    and the value e.g. an 'push url' or `['url' => 'push url', 'sync-tags' => false]`.
    //
    // All configured targets are split when requested. Missing directories are ignored.
    //
    // The push remote is automatically registered.
    // The 'sync-tags' can be configured for all split targets, and per target.
    //
    'repos' => [
        'github.com' => [
            'Sylius/SyliusMailerBundle' => [
                'sync-tags' => true,
                'split' => [
                    'src/Component' => 'git@github.com:Sylius/Mailer.git',
                ],
            ],
            'Sylius/Sylius' => [
                'sync-tags' => true,
                'split' => [
                    'src/Sylius/Bundle/AddressingBundle' => 'git@github.com:Sylius/SyliusAddressingBundle.git',
                    'src/Sylius/Bundle/AdminApiBundle' => 'git@github.com:Sylius/SyliusAdminApiBundle.git',
                    'src/Sylius/Bundle/AdminBundle' => 'git@github.com:Sylius/SyliusAdminBundle.git',
                    'src/Sylius/Bundle/ApiBundle' => 'git@github.com:Sylius/SyliusApiBundle.git',
                    'src/Sylius/Bundle/AttributeBundle' => 'git@github.com:Sylius/SyliusAttributeBundle.git',
                    'src/Sylius/Bundle/ChannelBundle' => 'git@github.com:Sylius/SyliusChannelBundle.git',
                    'src/Sylius/Bundle/CoreBundle' => 'git@github.com:Sylius/SyliusCoreBundle.git',
                    'src/Sylius/Bundle/CurrencyBundle' => 'git@github.com:Sylius/SyliusCurrencyBundle.git',
                    'src/Sylius/Bundle/CustomerBundle' => 'git@github.com:Sylius/SyliusCustomerBundle.git',
                    'src/Sylius/Bundle/InventoryBundle' => 'git@github.com:Sylius/SyliusInventoryBundle.git',
                    'src/Sylius/Bundle/LocaleBundle' => 'git@github.com:Sylius/SyliusLocaleBundle.git',
                    'src/Sylius/Bundle/MoneyBundle' => 'git@github.com:Sylius/SyliusMoneyBundle.git',
                    'src/Sylius/Bundle/OrderBundle' => 'git@github.com:Sylius/SyliusOrderBundle.git',
                    'src/Sylius/Bundle/PaymentBundle' => 'git@github.com:Sylius/SyliusPaymentBundle.git',
                    'src/Sylius/Bundle/PayumBundle' => 'git@github.com:Sylius/SyliusPayumBundle.git',
                    'src/Sylius/Bundle/ProductBundle' => 'git@github.com:Sylius/SyliusProductBundle.git',
                    'src/Sylius/Bundle/PromotionBundle' => 'git@github.com:Sylius/SyliusPromotionBundle.git',
                    'src/Sylius/Bundle/ReviewBundle' => 'git@github.com:Sylius/SyliusReviewBundle.git',
                    'src/Sylius/Bundle/ShippingBundle' => 'git@github.com:Sylius/SyliusShippingBundle.git',
                    'src/Sylius/Bundle/ShopBundle' => 'git@github.com:Sylius/SyliusShopBundle.git',
                    'src/Sylius/Bundle/TaxationBundle' => 'git@github.com:Sylius/SyliusTaxationBundle.git',
                    'src/Sylius/Bundle/TaxonomyBundle' => 'git@github.com:Sylius/SyliusTaxonomyBundle.git',
                    'src/Sylius/Bundle/UiBundle' => 'git@github.com:Sylius/SyliusUiBundle.git',
                    'src/Sylius/Bundle/UserBundle' => 'git@github.com:Sylius/SyliusUserBundle.git',
                    'src/Sylius/Component/Addressing' => 'git@github.com:Sylius/Addressing.git',
                    'src/Sylius/Component/Attribute' => 'git@github.com:Sylius/Attribute.git',
                    'src/Sylius/Component/Channel' => 'git@github.com:Sylius/Channel.git',
                    'src/Sylius/Component/Core' => 'git@github.com:Sylius/Core.git',
                    'src/Sylius/Component/Currency' => 'git@github.com:Sylius/Currency.git',
                    'src/Sylius/Component/Customer' => 'git@github.com:Sylius/Customer.git',
                    'src/Sylius/Component/Inventory' => 'git@github.com:Sylius/Inventory.git',
                    'src/Sylius/Component/Locale' => 'git@github.com:Sylius/Locale.git',
                    'src/Sylius/Component/Order' => 'git@github.com:Sylius/Order.git',
                    'src/Sylius/Component/Payment' => 'git@github.com:Sylius/Payment.git',
                    'src/Sylius/Component/Product' => 'git@github.com:Sylius/Product.git',
                    'src/Sylius/Component/Promotion' => 'git@github.com:Sylius/Promotion.git',
                    'src/Sylius/Component/Review' => 'git@github.com:Sylius/Review.git',
                    'src/Sylius/Component/Shipping' => 'git@github.com:Sylius/Shipping.git',
                    'src/Sylius/Component/Taxation' => 'git@github.com:Sylius/Taxation.git',
                    'src/Sylius/Component/Taxonomy' => 'git@github.com:Sylius/Taxonomy.git',
                    'src/Sylius/Component/User' => 'git@github.com:Sylius/User.git',
                ],
            ],
            'PigeonPlayground/Monorepo' => [
                'sync-tags' => true,
                'split' => [
                    'lib/Bar' => 'git@github.com:PigeonPlayground/BarComponent.git',
                    'lib/Foo' => 'git@github.com:PigeonPlayground/FooComponent.git',
                ],
            ],
        ],
    ],
];
